@import "../../scss/abstracts/placeholders";
@import "../../scss/abstracts/variables";

.ClothingCards {
 display: flex; 
 
 justify-content: center;
 align-items: center;

 .ImageCard {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   margin-top: 3rem;
 }

 img {
   height: 350px;
   width: 300px;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
  }
  
 h2 {
  padding: 15px;
  }

 h3 {
  margin: 2px;
}

 p {
  margin: 2px;
  color: $grey-primary;
 }

 .clothingSection {
  display: flex;
  justify-content: space-between;
  background-color:$grey-secondary;
  border-radius: 10px;
  box-shadow: $shadow;
 }
 
}

.swipeLeft {
  // transform: rotate(30deg) scale(0.8);
  transition: 0.5s;
  // margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  transition: 1s;
}

.swipeRight {
  // transform: rotate(30deg) scale(0.8);
  transition: 1s;
  // margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
  transform: translateX(30px) rotate(-30deg);
  -webkit-transform: translateX(-30px) rotate(-30deg);
  -moz-transform: translateX(-30px) rotate(-30deg);
  transition: 1s;
}

.swipeUp {
  // transform: rotate(30deg) scale(0.8);
  transition: 1s;
  // margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
  transform: translateX(-30px) rotate(-30deg);
  -webkit-transform: translateX(-30px) rotate(-30deg);
  -moz-transform: translateX(-30px) rotate(-30deg);
  transition: 1s;
}