@import "../../scss/abstracts/placeholders";
@import "../../scss/abstracts/variables";

.faButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    button {
        margin: 5px;
        font-size: 18px;
        height: 65px;
        width: 250px;
        border-radius: 10px;
        border: $grey-secondary, 0.5px;
        box-shadow: $shadow;
        background: $white;
         cursor: pointer;
    }
    .thumbsUp {
        color: #007ae1;
        }
    .heart {
        color:  #FF375F; 
        }
}