@import "../../scss/abstracts/placeholders";
@import "../../scss/abstracts/variables";

.faButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    button {
        margin: 5px;
        font-size: 40px;
        height: 65px;
        width: 150px;
        border-radius: 10px;
        border: $grey-secondary, 0.5px;
        box-shadow: $shadow;
        background: $white;
        cursor: pointer;

        &:hover {
            background-color: hsl(122, 39%, 99%);
            border: 1px solid $grey-primary;
        }
        &:active {
        background-color: $grey-secondary;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        } 
        &:focus {
            border: 2px solid darkgrey;
            box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
        }
    }
    .thumbsUp {
        color: $green-primary;

    }
    .heart {
        color:  #FF375F; 
        }
}