@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/placeholders';

a {
  text-decoration: none;
}

.header {
  padding: 1rem;
  margin: 2rem;
  margin-top: 3rem;
  margin-bottom: 0;

  .aboutWrapper {
    margin-top: 13rem;

    .aboutTitle {
      color: $black;
    }
  
    .editButton {
      background-color: $green-primary;
      color: $white;
      border: none;
      border-radius: 12px;
      padding: 8px;
      box-shadow: $shadow;
    }
    .aboutContainer {
      margin-bottom: 1.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $grey-primary-transparent;
  
      &.aboutContainerFlex {
        display: flex;
  
        div {
          margin-right: 7rem;
        }
      }
  
      .aboutSubtitle {
        color: $grey-primary;
        margin-bottom: 0.5rem;
      }
    }
  }
  
  .aboutWrapper {
    display: flex;
    justify-content: space-between;
  }

  h2 {
    @extend %big-heading;
    color: $white;
  }

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 81px;
    border-radius: 13px;
    padding: 0.5rem;
    margin-bottom: 4rem;
    margin-top: 2rem;

    .image {
      position: relative;
    
      img {
        width: 70px;
        height: 70px;
        background-color: white;
        border-radius: 50%;
        z-index: -3;
      }
    
      .avatarButton {
        position: absolute;
        top: 57%;
        left: 75%;
    
        span {
          position: absolute;
          width: 18px;
          height: 18px;
          top: 2px;
          left: 1px;
          border-radius: 100%;
          background-color: white;
        }
    
        .avatarIcon {
          position: absolute;
          color: $green-primary;
          font-size: 22px;
          z-index: 3;
        }
    
        input {
          display: none;
        }
      }
    
    }
  
    .headerInfo {
      flex-grow: 1;
      text-align: center;

      p {
        color: $white;
      }
    }
  
    & > h3 {
      margin: 0 5rem;
    }
  }


h3 {
  @extend %medium-heading;
  color: $white;
}

h4,
p,
li {
  @extend %body-font;
}