@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/placeholders';

a {
  text-decoration: none;
}

.header {
  padding: 1rem;
}

h2 {
  @extend %big-heading;
  margin-bottom: 1rem;
}

h3 {
  @extend %big-heading;
}

h4,
p,
li {
  @extend %body-font;
}

  .aboutTitle {
    color: $black;
    margin-bottom: 1.5rem;
  }
  .aboutContainer {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey-primary-transparent;

    &.aboutContainerFlex {
      display: flex;
      div {
        margin-right: 7rem;
      }
    }

    .aboutSubtitle {
      color: $grey-primary;
      margin-bottom: 0.5rem;
    }
  }

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 81px;
  border-radius: 13px;
  padding: 0.5rem;
  margin-top: 50px;

  .headerInfo {
    flex-grow: 1;
    text-align: center;
  }

  img {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin-top: 20px;
  }

  & > h3 {
    margin: 0 5rem;
  }
}

.aboutWrapper {
  display: flex;
  justify-content: space-between;
}