@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/placeholders';

* {
  color: inherit;
}

a {
  text-decoration: none;
}

.editProfile {
  min-height: 90vh;
  margin-bottom: 10vh;
  padding: 1rem;
  color: $black;
}

h2 {
  margin-bottom: 1rem;
}

h4,
li {
  @extend %body-font;
}

.about {
  margin-top: 75px;
  .aboutWrapper {
    display: flex;
    justify-content: space-between;
  }
  .aboutTitle {
    color: $black;
    margin-bottom: 1.5rem;
  }
  .aboutContainer {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey-primary-transparent;

    &.aboutContainerFlex {
      display: flex;
      div {
        margin-right: 7rem;
      }
    }

    .aboutSubtitle {
      color: $grey-primary;
      margin-bottom: 0.5rem;
    }
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 81px;
  border-radius: 13px;
  padding: 0.5rem;
  margin-bottom: 4rem;

  .headerInfo {
    flex-grow: 1;
    text-align: center;
  }

  img {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
  }

  & > h3 {
    margin: 0 5rem;
  }
}
