@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/placeholders';

* {
  color: inherit;
}

h4,
li {
  @extend %body-font;
  list-style-type: none;
}

.editProfile {
  padding: 1rem;
  color: $black;
  margin: 0 2rem;

  .about {
    margin-top: 60px;

    .aboutWrapper {
      display: flex;
      justify-content: space-between;

      .editButton {
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: $green-primary;
        color: $white;
        border: none;
        border-radius: 12px;
        padding: 8px;
        box-shadow: $shadow;
      }
    }
    .aboutTitle {
      color: $black;
      font-size: 22px;
      margin-bottom: 1.5rem;
    }
    .aboutContainer {
      margin-bottom: 1.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $grey-primary-transparent;

      &.aboutContainerFlex {
        display: flex;
        div {
          margin-right: 7rem;
        }
      }

      .aboutSubtitle {
        color: $grey-primary;
        margin-bottom: 0.5rem;
      }
    }
  }
}
