@import '../../scss/abstracts/placeholders';
@import '../../scss/abstracts/variables';
@import '../../index.css';

.title {
    margin: 3rem 0 0 3.8rem;
    color: $white;
    font-size: 2.4rem;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}