@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/placeholders';

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  color: inherit;
}

a {
  text-decoration: none;
}

.editProfile {
  min-height: 90vh;
  margin-bottom: 10vh;
  padding: 0.75rem;
  color: $black;
}

h2 {
  @extend %big-heading;
}

h3 {
  @extend %medium-heading;
}

h4,
p {
  @extend %body-font;
}

.about {
  color: $red;

}

.subtitles {
  color: $grey-primary;
}

.headerContainer {
  display: flex;
  align-items: center;
  height: 81px;
  border-radius: 13px;
  padding: 0.5rem;
  margin-bottom: 2rem; 

  .headerInfo {
    flex-grow: 1;
    text-align: center;
  }

  img {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
  }
}
