@import '../../scss/abstracts/variables';

.Navbar {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  border: 2px solid $grey-secondary;
  background-color: $white;
  
  .navBtn {
    text-align: center;
    border: none;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    background-color: $white;
    color: $grey-primary;
    font-size: 25px;
    line-height: 42px;

    &.active {
      color: $green-primary;
    }
      
      &:visited {
        color: $grey-primary;
      }
  }
}

