@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/placeholders';

.MessagePage {
  height: auto;

  .messageBlock {
    
    .Sam {
      display: flex;
    }
  img {
    height: 80px;
    width: auto;
    border-radius: 100px;
  }

  h3 {
    font-size: 30px;
  }
}
}