@import '../../scss/abstracts/variables';

.carbonFootprint {
  height: 100vh ;
  text-align: center;
  h2 {
    color: $grey-secondary;
    padding: 60px;
    text-align: center;
    padding-bottom: 10px;
  }
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 100px;
    }
  }
  h3 {
    padding-top: 70px;
    text-align: center;
  }
  .smile {
    font-size: 25px;
    color: $black;
  }
  p {
    font-size: 15px;
    padding: 20px;
    color: $black;
  }
}