@import './abstracts/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

html {
  font-size: 62.5%;
  height: 667px;
  width: 375px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 20px black;
  border-radius: 5px;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  height: 667px;
  width: 375px;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: $black;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.1rem;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  color: $black;
}

button {
  box-shadow: $shadow;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
