@import '../../scss/abstracts/variables';

.popup {
  width: 90%;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 5%;
  border-radius: 10px;
  box-shadow: $shadow;

  img {
    border-radius: 10px;
    width: 100%;
  }

  .closeIcon {
    position: absolute;
    font-size: 25px;
    left: 90%;
    top: 3%;
    color: $red;
  }
}