@import '../../scss/abstracts/placeholders';
@import '../../scss/abstracts/variables';
@import '../../index.css';

.clothingRail {
  position: relative;

  .headerContainer {
    position: absolute;
    height: 344px;
    width: 100%;
    z-index: -1;

  }
  
  h2 {
    position: relative;
    top: 50px;
    left: 39px;
    color: $white;
    font-size: 2.4rem;
  } 
}
